.navegacion-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0;
    width: 100%;
    background-color: rgba(81, 6, 103, 0.6);
    backdrop-filter: blur(0.5rem);
    box-shadow: -6px 6px 30px -5px rgba(0,0,0,0.2);
    position: fixed;
    z-index: 1;
}
.navegacion-container a.logo {
    font-size: 4rem;
    font-weight: 800;
    color: var(--blanco);
    transition: 300ms color;

    &:hover {
        color: var(--secundario);
    }
}
.navegacion-container .navegacion {
    display: flex;
    align-items: center;
    gap: 5rem;
    font-size: 2.5rem;
}
.navegacion-container .navegacion a.nav {
    color: var(--blanco);
    border-bottom: 2.5px solid transparent;
    font-size: 2.5rem;
    font-weight: 700;
    transition: 300ms all;

    &:hover {
        color: var(--secundario);
        border-bottom: 2.5px solid var(--secundario);
        padding-bottom: 1rem;
    }
}
.navegacion-container .navegacion a.nav.mostrar {
    color: var(--secundario);
    border-bottom: 2.5px solid var(--secundario);
    padding-bottom: 1rem;
}
.navegacion-container .navegacion-buttons {
    display: flex;
    gap: 2rem;
}
.navegacion-container .navegacion-buttons a.cv,
.navegacion-container .navegacion-buttons button.dark-mode-btn {
    background-color: var(--primario);
    color: var(--blanco);
    font-size: 1.25rem;
    padding: 1rem 2rem;
    border-radius: 1rem;
    transition: 300ms all;

    &:hover {
        background-color: var(--secundario);
        color: var(--blanco);
        -webkit-box-shadow: -6px 6px 30px -5px rgba(0,0,0,0.75);
        -moz-box-shadow: -6px 6px 30px -5px rgba(0,0,0,0.75);
        box-shadow: -6px 6px 30px -5px rgba(0,0,0,0.75);
    }
}

/*Boton Sidebar*/
/* <reset-style> ============================ */
button.menu-sidebar {
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    font-family: inherit;
  }
  /* <main-style> ============================ */
  .menu-sidebar {
    width: 2rem;
    height: 2rem;
    padding: .25rem;
    background-color: rgb(29, 29, 31, .7);
    backdrop-filter: saturate(180%) blur(20px);
    border: solid 1px rgba(66,66,69,0.7);
    position: relative;
  }
  
  .menu-sidebar span {
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    top: calc(.25rem - 1px);
    left: calc(.25rem - 1px);
    transition: transform .1806s cubic-bezier(.04,.04,.12,.96);
  }
  
  .menu-sidebar span:before {
    content: '';
    width: 1.5rem;
    height: .125rem;
    background-color: #fff;
    position: absolute;
    left: 0;
    transition: transform .1596s cubic-bezier(.52,.16,.52,.84) .1008s;
  }
  
  .menu-sidebar span:nth-child(1)::before {
    top: .625rem;
    transform: translateY(-3px);
  }
  
  .menu-sidebar span:nth-child(2)::before {
    bottom: .625rem;
    transform: translateY(3px);
  }
  
  .menu-sidebar.clicked :nth-child(1),
  .menu-sidebar.clicked :nth-child(2) {
    transition: transform .3192s cubic-bezier(.04,.04,.12,.96) .1008s;
  }
  
  .menu-sidebar.clicked :nth-child(1)::before,
  .menu-sidebar.clicked :nth-child(2)::before {
    transform: none;
    transition: transform .1806s cubic-bezier(.04,.04,.12,.96);
  }
  
  .menu-sidebar.clicked :nth-child(1) {
    transform: rotate(45deg) translateY(1px);
  }
  
  .menu-sidebar.clicked :nth-child(2) {
    transform: rotate(-45deg) translateY(-1px);
  }