.navegacion-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0;
    width: 100%;
    background-color: rgba(81, 6, 103, 0.6);
    backdrop-filter: blur(0.5rem);
    box-shadow: -6px 6px 30px -5px rgba(0,0,0,0.2);
    position: fixed;
    z-index: 1;
}
.navegacion-container a.logo {
    font-size: 4rem;
    font-weight: 800;
    color: var(--blanco);
    transition: 300ms color;

    &:hover {
        color: var(--secundario);
    }
}
.navegacion-container .navegacion {
    display: flex;
    align-items: center;
    gap: 5rem;
    font-size: 2.5rem;
}
.navegacion-container .navegacion a.nav {
    color: var(--blanco);
    border-bottom: 2.5px solid transparent;
    font-size: 2.5rem;
    font-weight: 700;
    transition: 300ms all;

    &:hover {
        color: var(--secundario);
        border-bottom: 2.5px solid var(--secundario);
        padding-bottom: 1rem;
    }
}
.navegacion-container .navegacion a.nav.mostrar {
    color: var(--secundario);
    border-bottom: 2.5px solid var(--secundario);
    padding-bottom: 1rem;
}
.navegacion-container .navegacion-buttons {
    display: flex;
    gap: 2rem;
}
.navegacion-container .navegacion-buttons a.cv,
.navegacion-container .navegacion-buttons button.dark-mode-btn {
    background-color: var(--primario);
    color: var(--blanco);
    font-size: 1.25rem;
    padding: 1rem 2rem;
    border-radius: 1rem;
    transition: 300ms all;

    &:hover {
        background-color: var(--secundario);
        color: var(--blanco);
        -webkit-box-shadow: -6px 6px 30px -5px rgba(0,0,0,0.75);
        -moz-box-shadow: -6px 6px 30px -5px rgba(0,0,0,0.75);
        box-shadow: -6px 6px 30px -5px rgba(0,0,0,0.75);
    }
}

/*Navegacion Mobile*/
.navegacion-mobile {
  position: fixed;
  top: 0;
  left: -30rem;
  z-index: 1;
  height: 100vh;
  width: 80%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: start;
  transition: left 300ms ease;
}
.navegacion-mobile.active {
  left: 0;
}
.navegacion-mobile .sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 10rem 2rem;
  background: linear-gradient(to right, var(--negroDarkMode) 40%, var(--negro) 100%);
  box-shadow: -6px 6px 30px -5px rgba(0,0,0,0.75);
}
.navegacion-mobile .sidebar .container-inicio a.logo {
  font-size: 3rem;
  font-weight: 800;
  color: var(--blanco);
  transition: 300ms color;

  &:hover {
      color: var(--secundario);
  }
}
.navegacion-mobile .sidebar .container-nav nav.navegacion {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 4rem;
}
.navegacion-mobile .sidebar .container-nav nav.navegacion a.nav {
  color: var(--blanco);
  font-weight: 700;
  font-size: 1.75rem;
  text-transform: uppercase;
  transition: 300ms all;

  &:hover {
    color: var(--secundario);
  }
}
.navegacion-mobile .sidebar .container-nav nav.navegacion a.nav i {
  margin-right: 2rem;
}
.navegacion-mobile .sidebar .container-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
.navegacion-mobile .sidebar .container-buttons a.cv-mobile,
.navegacion-mobile .sidebar .container-buttons button.dark-mode-btn-mobile {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4.5rem;
  height: 4.5rem;
  border-radius: .5rem;
  background-color: var(--priOscuro);
  border: .2rem solid var(--primario);
  color: var(--blanco);
  font-size: 2rem;
}

/*Boton Sidebar*/
.navegacion-mobile button.menu-sidebar {
    padding: 0;
    margin: 0;
    cursor: pointer;
    font-family: inherit;
    width: 4rem;
    height: 4rem;
    background-color: var(--secOscuro);
    border: solid .3rem var(--secundario);
    border-radius: .5rem;
    position: fixed;
    top: 2rem;
    left: 2rem;
}
.navegacion-mobile button.menu-sidebar.clicked {
    background-color: var(--priOscuro);
    border: solid .3rem var(--primario);
}
  
.navegacion-mobile button.menu-sidebar span {
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    top: calc(1rem - .1rem);
    left: calc(.8rem - .1rem);
    transition: transform .1806s cubic-bezier(.04,.04,.12,.96);
}
  
.navegacion-mobile button.menu-sidebar span:before {
    content: '';
    width: 1.75rem;
    height: .250rem;
    background-color: var(--blanco);
    position: absolute;
    left: 0;
    transition: transform .1596s cubic-bezier(.52,.16,.52,.84) .1008s;
}
  
.navegacion-mobile button.menu-sidebar span:nth-child(1)::before {
    top: .625rem;
    transform: translateY(-.4rem);
}
  
.navegacion-mobile button.menu-sidebar span:nth-child(2)::before {
    bottom: .625rem;
    transform: translateY(.4rem);
}
  
.navegacion-mobile button.menu-sidebar.clicked :nth-child(1),
.navegacion-mobile button.menu-sidebar.clicked :nth-child(2) {
    transition: transform .3192s cubic-bezier(.04,.04,.12,.96) .1008s;
}
  
.navegacion-mobile button.menu-sidebar.clicked :nth-child(1)::before,
.navegacion-mobile button.menu-sidebar.clicked :nth-child(2)::before {
    transform: none;
    transition: transform .1806s cubic-bezier(.04,.04,.12,.96);
}
  
.navegacion-mobile button.menu-sidebar.clicked :nth-child(1) {
    transform: rotate(45deg) translateY(-.15rem);
}
  
.navegacion-mobile button.menu-sidebar.clicked :nth-child(2) {
    transform: rotate(-45deg) translateY(.1rem);
}