#header {
    background-color: #2a2a2a;
}
#header .container .navbar-toggler i {
    filter: invert(90%);
    font-size: 27px;
}

#header .container .navbar-brand,
#header .container .navbar-collapse .navbar-nav a {
    color: #d5d7d8;
    transition: 200ms color;
}
#header .container .navbar-collapse .navbar-nav a.active {
    color: rgb(249 115 22);
}
#header .container .navbar-brand:hover,
#header .container .navbar-collapse .navbar-nav a:hover {
    color: #ffffff;
}