:root {
    --black: #2a2a2a;
    --white: #e1e1e1;
    --color-main-light: rgb(253 186 116);
    --color-main: rgb(249 115 22);
    --color-main-darken: rgb(234 88 12);
}

body {
    font-family: 'Ubuntu', sans-serif;
    background-color: var(--white);
    color: var(--black);
    overflow-x: hidden;
}
body.dark-mode {
    background-color: var(--black);
    color: var(--white);
}
::selection {
    background-color: var(--color-main-light);
    color: var(--black);
}
body::-webkit-scrollbar {
    width: 8px;
}
body::-webkit-scrollbar-track {
    background-color: var(--color-main-light);
    border-radius: 100vw;
}
body::-webkit-scrollbar-thumb {
    background-color: var(--color-main-darken);
    border-radius: 100vw;
}